<e-dialog
  :opened="opened"
  v-on="{ 'dialog.close': close }"
  headline="Do you want to save the following changes?"
  width="90%"
>
  <div style="position: relative">
    <difference
      v-for="key in keysOfChangedFields"
      :label="key"
      :original-value="originalSecret[key]"
      :current-value="currentSecret[key]"
    >
    </difference>
  </div>

  <div class="e-dialog__footer">
    <div class="e-grid e-grid-small">
      <div class="e-cell e-cell-small">
        <div id="save-cancel-button" class="e-btn" data-action="close">Cancel</div>
      </div>
      <div class="e-cell e-cell-small">
        <div id="save-confirm-button" class="e-btn e-btn-primary" data-action="close" @click="confirm()">Save</div>
      </div>
    </div>
  </div>
</e-dialog>
