<e-dialog
  :opened="opened"
  v-on="{ 'dialog.close': close }"
  headline="Save changes"
  width="90%"
>
  <div class="e-dialog__content">
    <div>The following fields have been changed:</div>

    <div class="e-margin-vertical-m" style="height: 250px">
      <div class="e-scrollable">
        <div class="e-scrollable__content">
          <div
            v-for="key in keysOfChangedFields"
            v-html="difference(key)"
          >
          </div>
        </div>
      </div>
    </div>

    <div>Are you sure you want to save?</div>
  </div>

  <div class="e-dialog__footer">
    <div class="e-grid e-grid-small">
      <div class="e-cell e-cell-small">
        <div id="save-cancel-button" class="e-btn" data-action="close">Cancel</div>
      </div>
      <div class="e-cell e-cell-small">
        <div id="save-confirm-button" class="e-btn e-btn-primary" data-action="close" @click="confirm()">Save</div>
      </div>
    </div>
  </div>
</e-dialog>
