<div
  class="value-editor"
  @mouseenter="editorHoovered = true"
  @mouseleave="editorHoovered = false"
>
  <ace-editor
    class="e-input secret-value"
    :value="value"
    @input="emitChange($event)"
    @init="initEditor($event)"
    :lang="editorLanguage"
    theme="github"
  />

  <div
    class="editor-toolbar"
    @mouseenter="toolbarHovered = true"
    @mouseleave="toolbarHovered = false"
    :style="`opacity: ${toolbarOpacity}`"
  >
    <json-format-button
      v-if="editorLanguage === 'json'"
      :text="value"
      @change-json-state="emitChange($event)"
    />
  </div>
</div>
