<div>
  <div class="e-grid e-grid-medium" v-for="(secretProperties, index) in displayedSecrets" :key="index">
    <div class="e-cell e-cell-4 e-cell-medium">
      <input
          class="e-input"
          type="text"
          :value="secretProperties.key"
          @input="updateSecrets(index, { key: $event.target.value })"
      />
    </div>

    <div class="e-cell e-cell-auto e-cell-medium e-padding-right-none">
      <secret-editor-textarea
          :value="secretProperties.value"
          @change="changeSecretValue(index, $event)"
      ></secret-editor-textarea>
    </div>

    <div class="e-cell e-cell-medium">
      <div class="e-btn e-btn-onlyicon" :class="{ 'e-btn-disabled': isLastSecret(index) }" @click="deleteSecret(index)">
        <e-icon icon="trash-o"></e-icon>
      </div>
    </div>
  </div>
</div>
