<div>
  <div class="e-grid e-grid-medium" v-for="(secretProperties, index) in displayedSecrets" :key="index">
    <div class="e-cell e-cell-4 e-cell-medium">
      <input
          class="e-input"
          type="text"
          :value="secretProperties.key"
          @input="updateSecrets(index, { key: $event.target.value })"
      />
    </div>

    <div class="e-cell e-cell-auto e-cell-medium">
      <textarea
          class="e-input e-input-textarea e-input-auto_height"
          style="white-space: pre; resize: vertical;"
          :value="secretProperties.value"
          @input="changeSecretValue(index, $event)"
          wrap="soft"
      />
    </div>

    <div class="e-cell e-cell-medium">
      <div class="e-btn e-btn-onlyicon" :class="{ 'e-btn-disabled': isLastSecret(index) }" @click="deleteSecret(index)">
        <e-icon icon="trash-o"></e-icon>
      </div>
    </div>
  </div>
</div>
