<div>
  <div class="e-grid e-grid-medium" v-for="(field, index) in fields" :key="index">
    <div class="e-cell e-cell-4 e-cell-medium">
      <input
          class="e-input"
          type="text"
          :value="field.key"
          @input="changeFieldKey(index, $event.target.value)"
      />
    </div>

    <div class="e-cell e-cell-auto e-cell-medium e-padding-right-none">
      <secret-editor-textarea
          :value="field.value"
          @change="changeFieldValue(index, $event)"
      ></secret-editor-textarea>
    </div>

    <div class="e-cell e-cell-medium">
      <div class="e-btn e-btn-onlyicon" :class="{ 'e-btn-disabled': isLastField(index) }" @click="deleteField(index)">
        <e-icon icon="trash-o"></e-icon>
      </div>
    </div>
  </div>
</div>
