<div>
  <e-dialog
    :opened="dialogOpened"
    v-on="{ 'dialog.close': () => { dialogOpened = false } }"
    :headline="`New version available - v${version}`"
  >
    <div class="release-notes" v-safe-html="releaseNotes"></div>
    <div>Do you want to download it now?</div>

    <div class="e-dialog__footer">
      <div class="e-grid e-grid-small">
        <div class="e-cell e-cell-small">
          <div class="e-btn e-btn-primary" @click="openDownloadPage()">Open download page</div>
        </div>
      </div>
    </div>
  </e-dialog>
</div>
