<div
  class="e-actionlist__item"
  :class="{
    'e-actionlist__item-selected': selected,
    'e-actionlist__item-active': hovered
  }"
  @mouseenter="mouseEnter()"
  @mouseleave="mouseLeave()"
  @click="$emit('click')"
>
  <e-icon v-if="selected" icon="check" class="e-actionlist__selected_marker">
  </e-icon>
  {{ time }}

  <e-tooltip
    class="e-margin-left-m"
    content="View changes made at this update"
  >
    <div
      @click.stop="$emit('view')"
      class="e-btn e-btn-small e-btn-onlyicon"
    >
      <e-icon icon="eye"></e-icon>
    </div>
  </e-tooltip>
</div>
