<e-dialog
  :opened="opened"
  v-on="{ 'dialog.close': close }"
  headline="Change history"
  width="90%"
>
  <div class="e-field">
    <label class="e-field__label" for="backupTime">Modification time</label>
    <e-select
      size="large"
      :items="JSON.stringify(modificationTimeOptions)"
      @change="displayChange($event.target.value)"
    ></e-select>
    <button @click="loadToEditor()" class="e-btn e-btn-primary e-margin-left-xs">
      Load to editor
    </button>
  </div>

  <difference-list
    :original-secret="secretBefore"
    :current-secret="secretAfter"
  >
  </difference-list>
</e-dialog>
