<div>
  <e-dropdown
    v-if="!disabled"
    data-markup-content="<e-icon icon='reset-block'></e-icon>"
    data-markup-class="e-btn e-btn-dropdown e-btn-no_minwidth"
    data-markup-class-active="e-dropdown__button-open"
    data-autoclose
  >
    <div class="e-dropdown__content">
      <div class="e-actionlist__itemscontainer" style="width: 250px; max-height: 300px">
        <div v-if="options.length === 0">No backups found</div>
        <backup-list-item
          v-for="option in options"
          @click="selectBackup(option.backup)"
          @view="viewBackup(option.backup)"
          :selected="option.selected"
          :time="option.displayedTime"
        ></backup-list-item>
      </div>
    </div>
  </e-dropdown>

  <div v-if="disabled" class="e-btn e-btn-dropdown" disabled>
    <e-icon icon="reset-block"></e-icon>
  </div>

  <change-history-dialog
    ref="changeHistoryDialog"
    :backups="backups"
    @load-backup="selectBackup($event)"
  />
</div>
