/* release notes */
.release-notes {
  padding: 0 8px 24px;
}
.release-notes h1 {
  font-size: 1em;
  line-height: 24px;
  margin: 10px 0 0 0;
}
.release-notes ul {
  margin: 0;
}

/* value editor with toolbar */
.value-editor {
  position: relative;
}
.editor-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #e8e8e8;
  border-radius: 0 8px 0 8px;
  margin: 1px;
  transition: opacity 0.2s ease-in-out;
}
.editor-toolbar .e-btn {
  margin: 2px;
}

/* fix border of compare result */
.d2h-file-side-diff {
  margin-bottom: -7px;
}

/* ACE editor adjustments */
.ace_editor {
  line-height: 24px !important;
}
.ace_hidden-cursors {
  opacity: 0
}
.ace_scroller {
  border-radius: 8px;
}
.ace_gutter {
  z-index: 3 !important;
}
.searchHighlight {
  position: absolute;
  z-index: 20;
  background-color: #fdeea1;
}
