/* release notes */
.release-notes {
  padding: 0 8px 24px;
}
.release-notes h1 {
  font-size: 1em;
  line-height: 24px;
  margin: 10px 0 0 0;
}
.release-notes ul {
  margin: 0;
}

/* value editor with toolbar */
.value-editor {
  position: relative;
}
.editor-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-gray-200);
  border-radius: 0 8px 0 8px;
  margin: 1px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.3;
}
.editor-toolbar:hover {
  opacity: 1;
}
.editor-toolbar .e-btn {
  margin: 2px;
}
.value-editor:not(:hover) .editor-toolbar {
  opacity: 0
}

/* compare result */
.d2h-file-side-diff {
  margin-bottom: -7px;
}
.d2h-file-wrapper {
  border-color: var(--color-gray-250);
}
.d2h-file-header {
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-150);
}
.d2h-info, .d2h-code-side-linenumber {
  background-color: var(--color-gray-050);
  border-color: var(--color-gray-150);
  color: var(--color-gray-400);
}
.d2h-code-side-emptyplaceholder, .d2h-emptyplaceholder {
  background-color: var(--color-gray-050);
}
.d2h-ins {
  background-color: var(--color-mint-200);
  border-color: var(--color-mint-300);
}
.d2h-ins ins {
  background-color: var(--color-mint-300);
}
.d2h-del {
  background-color: var(--color-red-200);
  border-color: var(--color-red-300);
}
.d2h-del del {
  background-color: var(--color-red-300);
}

/* ACE editor adjustments */
.ace_editor {
  line-height: 24px !important;
}
.ace_hidden-cursors {
  opacity: 0
}
.ace_scroller {
  border-radius: 8px;
}
.ace_gutter {
  z-index: 3 !important;
}
.searchHighlight {
  position: absolute;
  z-index: 20;
  background-color: var(--color-yellow-200);
}
.ace-github {
  background-color: var(--color-neutral-100) !important;
  background-position: center calc(100% + 2px) !important;
  background-repeat: repeat-x !important;
  background-size: 100% 2px !important;
  border: 2px solid transparent !important;
  background-image: linear-gradient(180deg,transparent 0,transparent calc(100% - 2px),var(--color-neutral-500) calc(100% - 2px),var(--color-neutral-500) 100%) !important;
}
