<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gap Secret Editor</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <script>
      window.uiFlippers = ['ui_redesign_available', 'ui_redesign_basics'];
    </script>
    <script src="https://redirector.eservice.emarsys.net/ui/latest/js/app.js"></script>
    <link rel="stylesheet" href="https://redirector.eservice.emarsys.net/ui/latest/css/app.css" />
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
