<div id="app" @keydown.meta.f="activateSearch()" tabindex="-1" style="height: inherit; outline: none;">
  <error-state v-if="inErrorState" />

  <div v-if="!inErrorState" class="e-layout e-layout-without_navigation e-fullheight" style="display: flex;">
    <header class="e-layout__header">
        <h1 class="e-layout__title">GAP Secret Editor</h1>
        <div class="e-header__button">
            <div class="e-buttongroup" style="padding-top: 0.5em;">
                <e-theme-switcher ref="themeSwitcher" @change="updateIsDarkModeActiveState($event.detail.colorTheme)">
                  <div class="e-clickable e-padding-left-m">
                    <e-tooltip content="Change appearance">
                      <e-icon icon="e-style"></e-icon>
                    </e-tooltip>
                  </div>
                </e-theme-switcher>

                <div v-if="shouldShowSettingsDialog" class="e-clickable e-padding-left-m">
                    <e-tooltip content="Settings">
                        <e-icon icon="cog" @click="openSettingsDialog()"></e-icon>
                    </e-tooltip>
                </div>
                <div class="e-clickable e-padding-left-m">
                    <e-tooltip content="Give us feedback">
                        <e-icon icon="e-bullhorn" @click="openFeedbackDialog()"></e-icon>
                    </e-tooltip>
                </div>
            </div>
        </div>
    </header>
    <main class="e-layout__content" style="flex-grow: 1;">
      <section class="e-layout__section e-padding-s" style="display: flex; flex-direction: column;">

        <div class="e-grid e-grid-small e-grid-wrap">
          <div class="e-cell e-cell-small">
            <div class="e-grid e-grid-small">
              <div class="e-cell e-cell-small">
                <e-select
                  size="large"
                  :items="JSON.stringify(availableContexts)"
                  :loading="loading.contextList"
                  @change="selectContext($event.target.value)"
                ></e-select>
              </div>

              <div class="e-cell e-cell-small">
                <e-select
                  size="large"
                  id="namespace-selector"
                  placeholder="Select your namespace"
                  :items="JSON.stringify(namespaces)"
                  :loading="loading.namespaceList"
                  @change="selectNamespace($event.target.value)"
                ></e-select>
              </div>

              <div class="e-cell e-cell-small">
                <e-select
                  size="large"
                  id="secret-selector"
                  :disabled="secretNamespace === ''"
                  placeholder="Select your secret"
                  :items="JSON.stringify(namesForSelectedNamespace)"
                  :loading="loading.nameList"
                  @change="selectName($event.target.value)"
                ></e-select>
              </div>
            </div>
          </div>

          <div class="e-cell e-cell-small e-cell-auto" style="min-width: fit-content">
            <div class="e-grid e-grid-small">
              <div class="e-cell e-cell-small">
                <e-tooltip content="Reload secret">
                  <div id="reload-button" class="e-btn" @click="reloadSecret()" :disabled="!loadEnabled">
                    <div class="e-btn__loading" :class="{ 'e-btn__loading-active': loading.secretLoad }">
                      <e-spinner data-size="small"></e-spinner>
                      <e-icon icon="e-refresh"></e-icon>
                    </div>
                    Reload
                  </div>
                </e-tooltip>
              </div>

              <div class="e-cell e-cell-small">
                <e-tooltip content="Load backup to editor">
                  <backup-selector
                    :selected-time="selectedBackupTime"
                    :disabled="!backupEnabled"
                    @input="loadSelectedBackup($event)"
                  />
                </e-tooltip>
              </div>

              <div class="e-cell e-cell-small">
                <e-tooltip content="Restart service">
                  <div id="restart-button" class="e-btn" @click="restartService()" :disabled="!serviceRestartEnabled">
                    <div class="e-btn__loading" :class="{ 'e-btn__loading-active': loading.serviceRestart }">
                      <e-spinner data-size="small"></e-spinner>
                      <e-icon icon="e-signout"></e-icon>
                    </div>
                    Restart
                  </div>
                </e-tooltip>
              </div>

              <div class="e-cell e-cell-small">
                <e-tooltip content="Save secret">
                  <div id="save-button" class="e-btn e-btn-primary" @click="openSaveConfirmationDialog()"
                       :disabled="!saveEnabled">
                    <div class="e-btn__loading" :class="{ 'e-btn__loading-active': loading.secretSave }">
                        <e-spinner data-size="small"></e-spinner>
                        <e-icon icon="floppy-o"></e-icon>
                    </div>
                    Save
                  </div>
                </e-tooltip>
              </div>

              <div class="e-cell e-cell-small" style="margin-left: auto">
                <div style="position: relative">
                  <input
                    id="search-input"
                    ref="searchInput"
                    class="e-input e-input-large"
                    type="search"
                    placeholder="Search"
                    v-model="searchTerm"
                    style="padding-left: 40px"
                  />
                  <e-icon icon="search" color="disabled" style="position: absolute; left: 12px; top: 7px;" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="e-separator e-separator-fullwidth e-margin-vertical-m">

        <div style="flex-grow: 1;">
          <div class="e-scrollable">
            <div class="e-scrollable__content">
              <secret-editor id="secret-editor" class="e-padding-s" v-if="secretLoaded" v-model="secret" :search-term="searchTerm">
              </secret-editor>
            </div>
          </div>
        </div>
      </section>
    </main>

    <auto-update-confirmation />

    <save-confirmation-dialog
      ref="saveConfirmationDialog"
      :original-secret="originalSecret"
      :current-secret="secretAsObject"
      @confirmed="saveSecret()"
    />

    <feedback-dialog ref="feedbackDialog" />

    <settings-dialog ref="settingsDialog" />
  </div>
</div>
