<div id="app">
  <div class="e-layout e-layout-without_navigation">
    <header class="e-layout__header">
      <h1 class="e-layout__title">GAP Secret Editor</h1>
    </header>
    <main class="e-layout__content">
      <section class="e-layout__section e-padding-s">

        <div style="position: relative; height: 300px;" v-if="loading">
          <e-spinner data-fullscreen="true"></e-spinner>
        </div>

        <template v-if="!loading">
          <div class="e-grid e-grid-small">
            <div class="e-cell e-cell-small">
              <e-select
                  placeholder="Select your namespace"
                  :items="JSON.stringify(namespaces)"
                  @change="selectNamespace($event)"
              ></e-select>
            </div>

            <div class="e-cell e-cell-small">
              <e-select
                  :disabled="secretNamespace === ''"
                  placeholder="Select your secret"
                  :items="JSON.stringify(secretsForSelectedNamespace)"
                  @change="selectSecret($event)"
              ></e-select>
            </div>

            <div class="e-cell e-cell-small">
              <button class="e-btn" @click="loadSecret()" :disabled="loadInProgress">
                <div class="e-btn__loading" :class="{ 'e-btn__loading-active': loadInProgress }">
                  <e-spinner data-size="small"></e-spinner>
                </div>
                Load Secret
              </button>
            </div>

            <div class="e-cell e-cell-small">
              <button class="e-btn" @click="saveSecret()" :disabled="!saveEnabled">
                <div class="e-btn__loading" :class="{ 'e-btn__loading-active': saveInProgress }">
                  <e-spinner data-size="small"></e-spinner>
                </div>
                Save Secret
              </button>
            </div>

            <div e-cell e-cell-small style="display: flex; align-items: center;">
              <div class="e-label e-label-info">{{ context }}</div>
            </div>
          </div>

          <secret-editor v-if="secretLoaded" v-model="secret"></secret-editor>
        </template>
      </section>
    </main>
  </div>
</div>
